:root {
    --swiper-pagination-color: #FD9222;
    --swpier-pagination-inactive-color: rgb(17, 17, 17);
    --swiper-pagination-inactive-opacity: 0.10;
}
/* Global Styles */
ul,
ol {
    list-style: none;
}

a,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

.our-products {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 428px;
}
@media screen and (min-width:768px) {
    .our-products {
    max-width: 728px;
    }
  
}
@media screen and (min-width:1158px) {
    .our-products {
    max-width:  1158px;
    }
    .our-products-desc-wrapper {
        padding: 32px 20px;
    }
    .swiper-slide {
        width: 270px !important;
    }
   
}
    


.our-products-title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.our-products-title span {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.our-products-list {
    display: flex; 
    gap: 18px;
}

.swiper-slide {
width: 335px !important;
}

.our-products-list-items {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-products-desc-wrapper {
    padding: 32px 53px;

}

.our-products-list-items-img {
    width: 230px;
    height: 201px;
    flex-shrink: 0;
}

.our-products-item-card-desc {
    text-align: center;
}

.our-products-list-items-tiltle {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.our-products-list-item-description {
    color: rgba(17, 17, 17, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    margin-bottom: 16px;
}

.our-products-list-item-button {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100px;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
}

/*
.swiper-pagination-bullet {
    
} 
.swiper-pagination-bullet-active {
    
}
*/